.item {
  margin: 0.5rem;
  padding: 1rem;
  background-image: linear-gradient(#656469, #56595c);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
  overflow: auto;
}

.day,
.temp {
  float: left;
  width: 20%;
  margin-top: 2rem;
}

.day {
  font-size: 2rem;
  transform: scale(0.75, 1);
}

.weather {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  float: right;
  /* width: 120px; */
}
.weather span {
  display: block;
}

.weather p {
  font-size: 0.5rem;
}
